#aboutContainer {
    background-color: #000000;  /* Fondo negro */
}

#aboutContainer h1 {
    margin-top: 10px;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-field-container {
    display: block;
    padding-left: 24%;
    padding-right: 24%;
}

.customFieldset {
    position: relative;
    background-color: transparent; 
    text-align: center;
    margin-top: 1%;
}

.customFieldset .p-fieldset-legend {
    font-size: 12px;
    position: relative;
    top: 0;
    left: 0;
    font-weight: normal;
    background-color: transparent;  /* Fondo transparente para la leyenda */
    border-radius: 10px;
    text-align: center; 
    display: inline-block;
    padding-bottom: 10px;  /* Espacio debajo de la leyenda */
    color: white;  /* Color del texto de la leyenda */
}

.customFieldset .p-fieldset-content {
    padding-top: 20px;
    background-color: transparent;  /* Fondo transparente para el contenido */
    text-align: center;
}
